<!-- 123213
<dx-form
      id="form"
      [(formData)]="formData"
      [readOnly]="false"
      [items]="items"
      [colCount]="4"
    >
    <div *dxTemplate="let data of 'gridTemplate'">
        <dx-drop-down-box
            placeholder="Select a value..."
            width="600"
        >
        <div style="width: 600px;">ceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshiceshi</div>
        </dx-drop-down-box>
    </div>
    <div *dxTemplate="let data of 'gridTemplate1'">
        <dx-drop-down-box
            placeholder="Select a value..."
            width="300"
        >
        342342342342342344444444444444444werwerwerewrewrewrewrewrewrrrrrrrrrrr444444444444444444444444444444444444444444444
        </dx-drop-down-box>
    </div>
</dx-form> -->
<dx-scroll-view height="500">
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1wetsd</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1werwerwer</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1ttttttt</div>
<div>1</div>
<div>6</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>uuuuuuu1</div>
<div>1</div>
<div>1</div>
<div>5</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>16666666666666</div>

<dx-text-area
[autoResizeEnabled]="true"
[minHeight]="36"
(onKeyDown)="onKeyDown($event)"
>
</dx-text-area>

</dx-scroll-view>



