<p>You can select <span class="dx-user-select">this text</span>.</p>
<div class="dx-field">
    <div class="dx-field-label">Full Name</div>
    <div class="dx-field-value-static">John Smith</div>
</div>

<div class="dx-field">
    <div class="dx-field-label">Full Name</div>
    <div class="dx-field-value">John Smith</div>
</div>

<div class="dx-fieldset">
    <div class="dx-fieldset-header">Personal Data</div>
    <div class="dx-field">
        <div class="dx-field-label">Full Name</div>
        <div class="dx-field-value-static">John Smith</div>
    </div>
</div>

