<dx-button type="defaukt" text="Multiple form valid (submit)" icon="plus" (onClick)="submit()"></dx-button>
<div class="long-title">
  <h3>Employee Details</h3>
</div>
<div class="contain">
    <dx-text-box  [height]="90" class="textBox" (onEnterKey)="onEnterKey($event)" [readOnly]="false" [(value)]="valueForEditableTextArea">
      </dx-text-box>
      <div class="button-df dx-show-invalid-badge dx-textbox dx-texteditor dx-editor-outlined dx-texteditor-empty dx-widget">
        <dx-button
          stylingMode="contained"
          text="Contained"
          type="default"
          [width]="120"
          (onClick)="click()">
      </dx-button>
      </div>
      
</div>


<div id="form-container">
  <dx-validation-group #validGroup>
    <!-- <dx-form id="form"
        #form
        [(formData)]="employee">
        <dxi-item dataField="FirstName" [editorOptions]="{ disabled: true }"></dxi-item>
        <dxi-item dataField="Position" editorType="dxSelectBox" [editorOptions]="{ items: positions, searchEnabled: true, value: '' }">
            <dxi-validation-rule type="required" message="Position is required"></dxi-validation-rule>
        </dxi-item>        
    </dx-form>
    <hr/>
    <dx-form 
        #form2
        [(formData)]="employee">
        <dxi-item dataField="BirthDate" editorType="dxDateBox" [editorOptions]="{ disabled: true, width: '100%' }">
            <dxi-validation-rule type="required" message="BirthDate is required"></dxi-validation-rule>
        </dxi-item>
        <dxi-item dataField="Email">
            <dxi-validation-rule type="required"></dxi-validation-rule>
        </dxi-item>        
    </dx-form> -->
  </dx-validation-group>
</div>
