
.contain {
    padding: 30px;
    .textBox {
      border: 1px solid #ddd !important;
      border-bottom: 0 !important;
      border-radius: 4px 4px 0 0;
    }
    .button-df {
      border: 1px solid #ddd;
      border-top: 0;
      width: 100%;
      padding: 4px;
      display: flex;
      justify-content: right;
      border-radius: 0 0 4px 4px;
  }
}
